@model clinikpezeshki.Models.Entitys.Prescription

@{
    ViewData["Title"] = "پاک کردن نسخه";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
<h3>پاک کردن نسخه</h3>
<br />
<h4 class="text-danger text-center">با پاک کردن این نسخه تمام اطلاعات این نسخه پاک می شود</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DateTime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DateTime)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InstroductionForUse)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.InstroductionForUse)
    </dd>
    <dt class="col-sm-2">
     نام و نام خانوادگی بیمار
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.FullName)
    </dd>
    <dt class="col-sm-2">
        نام و نام خانوادگی دکتر
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Doctor.FullName)
    </dd>
        </dd>
        <dt class="col-sm-2">
        دارو ها
    </dt>
    <dd class="col-sm-10">
        @foreach(var med in Model.MedicinePrescriptions)
        {
            @med.Medicine?.PersionName  
        }
    </dd>
</dl>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input class="btn btn-danger btn-lg" type="submit" value="پاک شود" />
</form>
<div class="d-grid gap-2 d-md-block m-4">
    <br />
    <br />
    <a class="btn btn-outline-warning " asp-action="Edit" asp-route-id="@Model?.Id">ویرایش نسخه</a>
    <a class="btn btn-outline-primary " asp-action="Index">برگشت به نسخه ها</a>
</div>