@model clinikpezeshki.Models.Entitys.Disbursement

@{
    ViewData["Title"] = "پاک کردن پرداخت";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<h3>پاک کردن پرداخت</h3>
<br />
<h4 class="text-danger text-center">با پاک کردن این پرداخت تمام اطلاعات این پرداخت پاک می شود</h4>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Cost)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Cost)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.HowPay.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.HowPay.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Patient.FullName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.FullName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Treatment.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Treatment.Name)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input class="btn btn-danger btn-lg" type="submit" value="پاک شود" />
</form>
<div class="d-grid gap-2 d-md-block m-4">
    <br />
    <br />
    <a class="btn btn-outline-warning " asp-action="Edit" asp-route-id="@Model?.Id">ویرایش درمان</a>
    <a class="btn btn-outline-primary " asp-action="Index">برگشت به درمان ها</a>
</div>
