@model DoctorsCreateVm

@{
    ViewData["Title"] = "دکتر جدید";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<h4>دکتر جدید</h4>
<br />
<form class="row g-3" asp-action="Create">
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.Name" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.Name" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.LastName" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.LastName" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.LastName" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.Username" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.Username" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.Username" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.Password" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.Password" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.Password" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.Age" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.Age" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.Age" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="@Model.Doctor.Gender" class="control-label"></label>:<br />
        <div class="form-check">
            <label class="form-check-label" for="Gender">مرد</label>
            <input class="form-check-input" type="radio" id="Doctor_Gender" name="Doctor.Gender" value="1" />
        </div>
        <div class="form-check">
            <label class="form-check-label" for="Gender">زن</label>
            <input class="form-check-input" type="radio" id="Doctor_Gender" name="Doctor.Gender" value="0" />
        </div>
        <div class="form-check">
            <label class="form-check-label" for="Gender">ناشناس</label>
            <input class="form-check-input" type="radio" id="Doctor_Gender" name="Doctor.Gender" value="2" checked />
        </div>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.NationalId" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.NationalId" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.NationalId" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.HomeNumber" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.HomeNumber" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.HomeNumber" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.Phonenumber" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.Phonenumber" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.Phonenumber" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.Adrress" class="control-label"></label>:<br />
        <textarea asp-for="@Model.Doctor.Adrress" class="form-control m-1"></textarea>
        <span asp-validation-for="@Model.Doctor.Adrress" class="text-danger"></span>
    </div>
    <div class="col-md-6  form-group">
        <label asp-for="@Model.Doctor.CodeDoctor" class="control-label"></label>:<br />
        <input asp-for="@Model.Doctor.CodeDoctor" class="form-control m-1" />
        <span asp-validation-for="@Model.Doctor.CodeDoctor" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="@Model.Doctor.Expertise.Name" class="control-label">تخصص</label>:<br />
        <select class="form-select" asp-for="@Model.Doctor.ExpertiseId" class="form-control" asp-items="@Model.Expertises"></select>
    </div>
    <div class="col-12 form-group ">
        <input type="submit" value="ساختن" class="btn btn-primary opacity-75 float-end" />
    </div>
</form>
<div class="col-12">
    <a class="btn btn-outline-primary m-2" asp-action="Index">برگشت به دکتر ها</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
